/*----- Key transposer v1.0 Nick Laux ------*/


* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    margin:0; 
	padding:0;
}

html, body {
	height:100%;
	
}
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    margin:0;
    padding:0;
    width:100%;
    background-attachment:fixed;
}

/*-----Fonts & links-----*/
h1 {
	margin:0 0 10px 0;
    padding:0px;
    font-size:24px;
    font-weight:bold;
    text-align:center;
}

a {
	text-decoration: none;
}

a.instBtnLink, a.instBtnLink2  {
	font-family:Arial;
	font-size:25px;
	font-weight: bold;
	color:#000;
}

.noteName a, .noteNameModSharp a, .noteNameModFlat a {
	color:#000;
	text-decoration: none;
}

.noteHighlight, .instBtnLinkHighlight, .instBtnLinkHighlight2 {
	color:#0e80c8 !important;
}


/*-----Wrappers & Containers-----*/
#screenWrapper {
	float:left;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	background: #cfe7fa; /* Old browsers */
    background: -moz-linear-gradient(top,  #cfe7fa 0%, #6393c1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cfe7fa), color-stop(100%,#6393c1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #cfe7fa 0%,#6393c1 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #cfe7fa 0%,#6393c1 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #cfe7fa 0%,#6393c1 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #cfe7fa 0%,#6393c1 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfe7fa', endColorstr='#6393c1',GradientType=0 ); /* IE6-9 */
	
}

#contentWrapper {
	width:640px;
	margin:0 auto;
}

.modalWrapper {
	margin:0 auto;
	text-align:center;
}

#transPickerWrapper {
	width:100%;
	margin:0;
	padding:0;
}

.instBox, .instBox2 {
	display:inline-block;
	width:78px;
	height:35px;
	margin:0 15px 10px 0;
	padding-top:10px;
	-webkit-border-radius: 5px;
    border-radius: 5px;
    border:solid 1px #84aac2;
	background: #f2f6f8; /* Old browsers */
    background: -moz-linear-gradient(top,  #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f6f8), color-stop(50%,#d8e1e7), color-stop(51%,#b5c6d0), color-stop(100%,#e0eff9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 ); /* IE6-9 */
}
.noteWrapper {
	width:285px;
	height:310px;
	border:solid 1px #000;
	-webkit-border-radius: 10px;
    border-radius: 10px;
    text-align:center;
    background: #f2efef; /* Old browsers */
    background: #fcfeff; /* Old browsers */
    background: -moz-linear-gradient(top,  #fcfeff 0%, #dae4e8 74%, #bad3db 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfeff), color-stop(74%,#dae4e8), color-stop(100%,#bad3db)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fcfeff 0%,#dae4e8 74%,#bad3db 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fcfeff 0%,#dae4e8 74%,#bad3db 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fcfeff 0%,#dae4e8 74%,#bad3db 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fcfeff 0%,#dae4e8 74%,#bad3db 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfeff', endColorstr='#bad3db',GradientType=0 ); /* IE6-9 */			    
    display:none;
}


.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}


/*-----Margins-----*/
.marginBot {
	margin-bottom:20px;
}

.firstItem {
	margin-left:25px;
}

.firstRow {
	padding:15px 0 0 15px;
}

.singleNote {
	float:left;
	margin:10px 0px 0px 20px;	
}

.doubleNote {
	float:left;
	margin:10px 0 0 14px;
}

.supNote {
	float:left;
	margin-top:12px;
	font-size:28px;
}



/*-----Box Wrapper / Note Wrapper -----*/						
.box, .resetBox {
	display:inline-block;
	width:78px;
	height:78px;
	margin-right:15px;
	-webkit-border-radius: 5px;
    border-radius: 5px;
    border:solid 1px #84aac2;
	background: #f2f6f8; /* Old browsers */
    background: -moz-linear-gradient(top,  #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f6f8), color-stop(50%,#d8e1e7), color-stop(51%,#b5c6d0), color-stop(100%,#e0eff9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 ); /* IE6-9 */
}

.noteName, .noteNameModSharp, .noteNameModFlat {
	float:left;
	width:65px;
	height:60px;
	margin:10px 10px 10px 13px;
	font-family:Arial;
	font-size:50px;
	font-weight: bold;
	border:solid 1px #000;
	-webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    background: #f2f6f8; /* Old browsers */
    background: -moz-linear-gradient(top,  #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f6f8), color-stop(50%,#d8e1e7), color-stop(51%,#b5c6d0), color-stop(100%,#e0eff9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 ); /* IE6-9 */
}

.noteNameDown, .instBoxDown, .instBoxDown2 {
	background: #d2ebf7; /* Old browsers */
	background: -moz-linear-gradient(top,  #d2ebf7 0%, #accee5 50%, #80b1ce 51%, #bee0f7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d2ebf7), color-stop(50%,#accee5), color-stop(51%,#80b1ce), color-stop(100%,#bee0f7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #d2ebf7 0%,#accee5 50%,#80b1ce 51%,#bee0f7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #d2ebf7 0%,#accee5 50%,#80b1ce 51%,#bee0f7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #d2ebf7 0%,#accee5 50%,#80b1ce 51%,#bee0f7 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #d2ebf7 0%,#accee5 50%,#80b1ce 51%,#bee0f7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ebf7', endColorstr='#bee0f7',GradientType=0 ); /* IE6-9 */

}

.noteLabel {
	float:left;
	font-family:Arial;
	font-size:50px;
	font-weight: bold;
	color:#000;
}

/*-----Misc-----*/
hr {
	color:#bbb;
}

.resetImg {
	float: left;
	width:50px;
	height:53px;
    margin: 10px 0 0 15px;
    background:url(../img/reset.png) 0 0  no-repeat;
}

.resetImgHover {
	float: left;
	width:50px;
	height:53px;
    margin: 10px 0 0 15px;
    background:url(../img/reset_hover.png) 0 0  no-repeat;
}


/*--- Media Queries --*/

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
	#contentWrapper {
		width:320px;
		margin:0;
	}
	
	.modalWrapper {
		margin:0;
		text-align:center;
	}
	#instBtnWrapper {
		width:320px;
	}
	
	.instBox, .instBox2 {
		width:60px;
		margin:0 0 10px 10px;	
	}
	
	#transPickerWrapper {
		width:320px;
	}
	
	.box, .resetBox {
		width:60px;
		height:60px;
	}
	
	.resetImg {
		margin:3px 0 0 6px;	
	}
	
	hr {
		width: 283px;
		margin: 10px 0 10px 24px;	
	}
	
	.box, .resetBox {
		margin: 0 0 0 10px;	
	}
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
	#contentWrapper {
		width:480px;
		margin:0 auto;
	}
	
	#instBtnWrapper {
		width:480px;
	}
	
	.modalWrapper {
		margin:0 auto;
		text-align:center;
	}
	
	#transPickerWrapper {
		width:480px;
	}
	
	hr {
		width:375px;
		margin:10px 0 20px 45px;
	}
	
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {

}

/* small Tablet (portrait) ----------- */
@media only screen and (min-device-width : 599px) and (max-device-width : 1024px) and (orientation : portrait) {

}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

}
/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

}

